*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    background-color: #303A52;
}

.ms-disk-container {
    width: 80%;
    margin: 0 auto;
}
.ms-disks {
    width: calc(100% / 5 - 0.5rem);
    height: 400px;
    background-color:#574B90;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.ms-disks:hover{
    background-color:#6d5fb3;
}
.ms-disks:hover h5 {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    
}


img {
    width: 100%;
    margin-bottom: 20px;
}

h5 {
    color: white;
    text-transform: uppercase; 
    transition: all 0.2s;
}

span{
    margin-top: 20px;
    color: #FC85AE;
   
}
