*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


img {
    width: 250px;
    margin-bottom: 20px;
}

h5 {
    color: white;
    text-transform: uppercase; 
}

span{
    margin-top: 20px;
    color: rgb(165, 162, 162);
}
